@{
    ViewData["Title"] = "Analytics Portal";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/jquery.unobtrusive-ajax.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<link href="~/css/main.css" rel="stylesheet" />

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
    <div class="carousel-inner">
        <div class="orders item active">
            <div class="orders-title">
                Orders
            </div>
            <div class="orders-main" id="orders-main">

            </div>
            <div class="ordes-chart">
                <div class="chart-head">
                    <div class="chart-title">Orders diagramm</div>
                    <form id="formChart" asp-controller="Home" asp-action="Chart" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#chart-area">
                        <div class="buttons">
                            <div>
                                <label class="radio-inline"><input type="radio" onclick="ShowChart()" name="type" value="Orders" checked>Number of orders</label>
                                <label class="radio-inline"><input type="radio" onclick="ShowChart()" name="type" value="Money">Money</label>
                            </div>
                            <div>
                                <label class="radio-inline"><input type="radio" onclick="ShowChart()" name="period" value="Day" checked>Day</label>
                                <label class="radio-inline"><input type="radio" onclick="ShowChart()" name="period" value="Week">Week</label>
                                <label class="radio-inline"><input type="radio" onclick="ShowChart()" name="period" value="Month">Month</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="chart-area row" id="chart-area">
                </div>
            </div>
        </div>
        <div class="food item">
            <div class="food-title">
                Food
            </div>
            <div class="food-content" id="food-content">

            </div>
        </div>
        <div class="payments item">
            <div class="payments-title">
                Payments
            </div>
            <div class="payments-content" id="payments-content">

            </div>
        </div>
    </div>
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>



<script>
    ShowChart();

    function ShowChart() {
        $("#formChart").submit();
    }

    $.ajax({
        type: 'GET',
        url: '/Home/Orders',
        success: function (data) {
            if (data != '') {
                $("#orders-main").html("");
                $("#orders-main").append(data);
            }
        }
    })

    $.ajax({
        type: 'GET',
        url: '/Home/Payments',
        success: function (data) {
            if (data != '') {
                $("#payments-content").html("");
                $("#payments-content").append(data);
            }
        }
    })

    $.ajax({
        type: 'GET',
        url: '/Home/Food',
        success: function (data) {
            if (data != '') {
                $("#food-content").html("");
                $("#food-content").append(data);
            }
        }
    })
</script>